.table-view {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    border-collapse: collapse;
    font-size: 1rem;
    text-align: left;
    background-color: #FFB200;
  }

  .table-view th,
  .table-view td {
    border-bottom: 1px solid #ddd;
    padding: 12px 15px;
    color: #333;
  }

  .table-view th {
    background-color: #f4f4f4;
  }

  .table-view a {
    color: #007bff;
    text-decoration: none;
  }

  .table-view a:hover {
    text-decoration: underline;
  }


  .table-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }